<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
<h1><%= title %></h1>


<form class="new-form" action="/workouts/" method="POST" autocomplete="off">
  <label for="workout-input">Workout:</label>
  <input type="text" name="name" id="workout-input" placeholder="Name">
  <select name="exerciseIds" id="exercise-dropdown" multiple size="5">
    <% exercises.forEach(exercise => { %>
      <option value="<%= exercise._id %>"><%= exercise.text %></option>
    <% }) %>
  </select>
  <button type="submit">Add Workout</button>
</form>
</p>

</main>

<%- include('../partials/footer') %>