<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <% if (workoutHistory && workoutHistory.length) { %>
    <h2>Your Workout History</h2>
    <ul>
      <% workoutHistory.forEach(result => { %>
        <li>
          <strong><%= result.workoutName %></strong> - <%= result.date.toDateString() %>
          <ul>
            <% result.exercises.forEach(exerciseResult => { %>
              <li>
                <% if (exerciseResult.exerciseName) { %>
                  <strong><%= exerciseResult.exerciseName %></strong>
                  <ul>
                    <% exerciseResult.results[0].sets.forEach((set, index) => { %>
                      <li>Set <%= index + 1 %> - Reps: <%= set.reps %>, Weight: <%= set.weight !== undefined ? set.weight + ' lbs' : 'N/A' %></li>
                    <% }); %>
                  </ul>
                <% } else { %>
                  Exercise not found.
                <% } %>
              </li>
            <% }); %>
          </ul>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No workout history available.</p>
  <% } %>
</main>

<%- include('./partials/footer') %>
